 body{

	background-image: url("../images/randomGrey.png");
	padding-right:170px;
	padding-left:170px;
	margin-top: 5px;

}

.h1{
	background-image: url("../images/crystal6.jpg");
	background-repeat: repeat-x;
	font-family: sans-serif;
	color: black;
	text-align: center;
	margin-top: 30px;
	padding: 25px;
	background-color: white;
	opacity: 0.9;
	border: 1px solid white;
}

h1 {
	font-size: 120%;
	color:white;
}

.game {
	margin-top: 20px;
}

#ruleHead, #ruleContent {

	text-align: center;
	background-color: black;
	opacity: 0.5;
	border:solid 1px antiquewhite;
	margin-top: 3px;
}

#ruleContent{
	padding: 30px;
	display: none;
	color: white;
}
#ruleHead{
	padding-top: 5px;
	font-size: 30px;
	color: red;
}
.randomNo{	
padding: 10px;
text-align: center;
margin-top: 10px;
}
#randomNo {
	font-size: 90px;
	color: yellow;
	opacity: 0.7;
}
#totalScore p {
	font-size: 25px;
	color:green;
}

#totalScore {
	font-size: 50px;
	text-align: center;
	float: left;
	color: red;
}

p{
	font-size: 30px;
	color: skyblue;
}

#winCounter{
font-size: 70px;
	color: white;
	float: left;
	text-align: center;
}

#loseCounter{
font-size: 70px;
	color: white;
	float: left;
	text-align: center;
}
#gameResult {
	display: flex;
	flex-flow: column-reverse;
	flex-direction: flex-end;
	float: left;
	font-size: 70px;
	color: red;
}

.score{
	display: flex;
	justify-content: space-between;
	border-left: 2px solid white;
}

img{
	float: left;
	padding: 5px;
	border: 1px solid grey;
	box-shadow: 10px 10px;
	border-color: white;
	margin-left: 10px;
}

.assets{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#close{
	color: grey;
}
#replay{
	color: green;
	float: right;
	background-color: black;
	border-color: black;
	box-shadow: 2px 2px;
}
.open{
	font-size: 12px;
	color: darkgrey;
	margin-right: 10px;
}