body{

	background-image: url("../images/randomGrey.png");
	padding-right:170px;
	padding-left:170px;
	margin-top: 5px;

}

.h1{
	font-family: sans-serif;
	color: black;
	text-align: center;
	margin-top: 30px;
	padding: 25px;
	background-color: black;
	opacity: 0.5;
	border: 1px solid white;
}

h1 {
	font-size: 120%;
	color: antiquewhite;
}

.game {
	margin-top: 20px;
}

#ruleHead, #ruleContent {

	padding:10px;
	text-align: center;
	background-color: black;
	opacity: 0.5;
	border:solid 1px antiquewhite;
	margin-top: 5px;
}

#ruleContent{
	padding: 30px;
	display: none;
	color: white;
}
#ruleHead{
	font-size: 30px;
	color: red;
}
.randomNo{	
padding: 10px;
text-align: center;
margin-top: 10px;
}
#randomNo {
	font-size: 90px;
	color: white;
	
	opacity: 0.7;
}

p{
	font-size: 30px;
	color: skyblue;
}

#winCounter{
font-size: 30px;
	color: white;
	float: right;
	text-align: center;
}

#loseCounter{
font-size: 30px;
	color: white;
	float: left;
	text-align: center;
}

.score{
	display: flex;
	justify-content: space-around;
}

img{
	float: left;
	padding: 5px;
	border: 1px solid grey;
	box-shadow: 10px 10px;
	border-color: white;
	margin-left: 10px;
}

.assets{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}